@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
     margin: 0;
     padding: 0;
}
.common{
     display: flex;
     width: 80%;
     margin: 0 auto;
}
.photo img{
     width: 300px;
}
.designed{
     border-radius: 5px solid blue;
     color: white;
     padding: 10px 30px;
     background-image: linear-gradient(salmon,khaki);
}
.move{
margin-left: 135px;
font-size: 30px;
}
.difference{
     font-size: 40px;
     font-family: 'Poppins', sans-serif;
}
.photo{
     padding-left: 300px;
}