/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities */
body{
     margin: 0;
     padding: 0;
}
.common{
     display: flex;
     width: 80%;
     margin: 0 auto;
}
.photo img{
     width: 300px;
}
.designed{
     border-radius: 5px solid blue;
     color: white;
     padding: 10px 30px;
     background-image: linear-gradient(salmon,khaki);
}
.move{
margin-left: 135px;
font-size: 30px;
}
.difference{
     font-size: 40px;
     font-family: 'Poppins', sans-serif;
}
.photo{
     padding-left: 300px;
}
/* ------------
   course style
-------------- */
.courses{
     display: grid;
     margin-left: 100px;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 24px;
     box-shadow: 13px 13px 126px 1px rgba(185,185,230,0.4);
}
.fa-star.filled{
     color: #FFC014;
}
.fa-star.empty{
     color: #AEAEAE;
}
.header{
     text-align: center;
     font-size: 30px;
     margin-top: 50px;
}